body {
    margin: 0%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;

    background-color: black;

}

.navbar h1 {
    font-size: 60px;
    margin: 0%;
    font-style: italic;

}

.navbar div {
    list-style: none;
    margin-right: 150px;
    padding: 0%;
}

.navbar div ul {
    display: flex;
    justify-content: center;
}

.navbar div ul li {
    list-style: none;
    font-size: 18px;
    padding: 0px 10px;
    margin: 5px;
}

.navbar div ul li:hover {
    color: red;
    cursor: pointer;
}


.navimg {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    background-color: black;
    height: 100vh;


}

.navimg div h1 {
    font-size: 70px;

    margin: 0%;
}

.navimg div h3 {
    font-size: 25px;

    margin: 0%
}

.navimg div h3 span {
    color: red;
}

.more {
    background-color: red;
    color: white;
    padding: 15px 30px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5%;
}

.more:hover {
    background-color: blue;
}

.navimg img {
    width: 40%;

    padding-right: 20px;
    padding-bottom: 150px;
}

.two {
    margin: 30px;
}

.two h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.minibox {
    margin: 40px 80px;
    border: 1px solid grey;
    border-radius: 5%;
    box-shadow: 5px 5px 5px gray;
    padding: 20px 30px;

}

.minibox:hover {
    margin-top: 10px;
    transition: 800ms;
    border: 1px solid red;
}



.minibox p {
    text-align: justify;
}

.minibox img {
    width: 30%;


}

.minibox button {
    border: none;
    font-size: 15px;
    background-color: white;
}

.minibox button:hover {
    cursor: pointer;
}

.three {
    background-color: rgb(18, 14, 14);
    color: white;
}

.threeh1 {
    text-align: center;
    font-size: 50px;

    margin: 0%;
}

.combined {
    display: flex;


}

.img {
    display: flex;
    margin-top: 40px;
    margin-left: 120px;

    padding: 0%;

}

.img img {

    width: 250px;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 15px;
    margin-left: 40px;
    transform: skewY(-15deg);

}

.blog {
    margin-top: 0%;
    margin-right: 100px;
    margin-left: 50px;



}

.blog h1 {
    font-size: 45px;
    margin-top: 0%;
    margin-left: 40px;

}

.blog p {
    font-size: 25px;
    margin: 0% 40px;
}

.blog div {
    margin-top: 40px;
}

.blog div li {
    font-size: 20px;
    margin-left: 25px;
}

.hr1 {
    border: none;
    border-top: 2px solid red;
    width: 500px;
    margin-left: 150px;

}

.hr2 {
    border: none;
    border-top: 2px solid grey;
    width: 620px;
    margin-left: 40px;
}

#b2 {
    margin-left: 40px;
}

.inquiry-container {
    margin: 80px;
    color: white;

}

.inquiry {
    width: 700px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    margin: 0% auto;
    background: url(images/shape/Group_33094_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    border-radius: 5%;
}

#b3 {
    background-color: white;
    color: black;
    border: none;

}

#b3:hover {
    background-color: blue;
}


.four h1 {
    text-align: center;
    font-size: 60px;
}

.secserv p {
    color: red;
    font-size: 20px;
}

.secserv h3 {
    font-size: 25px;
}

.service {
    width: 325px;
    height: 450px;
    box-shadow: 10px 10px 20px black;
    margin-right: 50px;
    margin-bottom: 200px;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 5%;


}

.service img {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5%;

}



.sbox h3,
p {
    margin: 5px 15px;
}

.join {
    display: flex;
    justify-content: space-between;

}

.secserv {
    display: flex;
    justify-content: center;

}

.serhr {
    border: none;
    border-top: 1px solid grey;
    width: 85%;
}

footer {
    text-align: center;
    font-size: 15px;
    margin: 50px;
}

.fbyt {
    margin: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: 600;

}

.fbyt:hover {
    text-decoration: underline;
    color: red;
}

#me {
    color: red;
    margin: 0px;
    font-weight: 100;

}

.service {
    position: relative;
}

#batch {
    width: 75px;
    height: 95px;
    position: absolute;
    top: -30px;
    left: 270px;
}