body {
    margin: 0%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: white;

    background-color: black;

}

.navbar h1 {
    font-size: 60px;
    margin: 0%;
    font-style: italic;

}

.navbar div {
    list-style: none;
    margin-right: 150px;
    padding: 0%;
}

.navbar div ul {
    display: flex;
    justify-content: center;
}

.navbar div ul li {
    list-style: none;
    font-size: 18px;
    padding: 0px 10px;
    margin: 5px;
}

.navbar div ul li:hover {
    color: red;
    cursor: pointer;
}


.navimg {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    background-color: black;
    height: 100vh;


}

.navimg div h1 {
    font-size: 70px;

    margin: 0%;
}

.navimg div h3 {
    font-size: 25px;

    margin: 0%
}

.navimg div h3 span {
    color: red;
}

.more {
    background-color: red;
    color: white;
    padding: 15px 30px;
    margin-top: 15px;
    font-size: 20px;
    border-radius: 5%;
}

.more:hover {
    background-color: blue;
}

.navimg img {
    width: 40%;

    padding-right: 20px;
    padding-bottom: 150px;
}

.two {
    margin: 30px;
}

.two h1 {
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.minibox {
    margin: 40px 80px;
    border: 1px solid grey;
    border-radius: 5%;
    box-shadow: 5px 5px 5px gray;
    padding: 20px 30px;

}

.minibox:hover {
    margin-top: 10px;
    transition: 800ms;
    border: 1px solid red;
}



.minibox p {
    text-align: justify;
}

.minibox img {
    width: 30%;


}

.minibox button {
    border: none;
    font-size: 15px;
}

.minibox button:hover {
    cursor: pointer;
}